body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
}

/* header section */

header {
  display: inline-flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-left: 10px;

}

header nav {
  margin-left: 900px;
}

header nav span {
  text-decoration: underline;
  margin-right: 15px;
}

/* mission section  */

.ourmission {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin-left: 110px;
}

.omtext {
  background-color: black;
  width: 1200px;
  text-align: center;
  justify-content: center;
}
