body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
}

/* header section */

header {
  display: inline-flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-left: 10px;

}

header nav {
  margin-left: 900px;
}

header nav span {
  text-decoration: underline;
  margin-right: 15px;
}

/* mission section  */
