body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

/* header section */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 70px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  top: 0px;
}

.flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
}

.logo img {
  height: 50px;
  margin-left: 10px;

}

header nav {
  margin-left: 650px;
}

header nav span {
  text-decoration: underline;
  margin-right: 15px;
}

/* mission section  */

.ourmission {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/alliphones.png);
  background-size: cover;
  height: 700px;
  width: 1200px;
  margin-left: 110px;
  padding-top: 70px;
}

.omtext {
  background-color: black;
  width: 1200px;
  text-align: center;
  justify-content: center;
  opacity: .87;
}

/* tea of the month section */

.tomlead {
  text-align: center;
}

.tomlead h2 {
  margin-top: 85px;
}

.tom {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1000px;
  height: 350px;
  flex-wrap: wrap;
  margin-left: 200px;
}

.tom .item {

}
.item img {
  height: 200px;
  width: 300px;
  display: block;
  margin: 10px;
  border-radius: 1%;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.item {
  display: block;
}

/* loactions section */

.locmain{
  display: inline-block;
  height: 550px;
  width: 1200px;
  background-image: url(http://papers.co/wallpaper/papers.co-ar65-apple-macos-sierra-mountain-wwdc-official-36-3840x2400-4k-wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;

}

.title {
  display: flex;
  display: block;
}
.inloc {
  display: inline-flex;
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: .8;
  border-radius: 3%;
  margin: 15px 20px;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.inloc h3 {
  justify-content: center;
}

/* footer section */

.footer1 {
  text-align: center;
}

.footer2 {
  text-align: left;
}

a:link {
  color: white;
  background-color: transparent;
}

a:visited {
  color: white;
  background-color: transparent;
}

a:active {
  color: red;
  background-color: transparent;
}
